{
    # "extends": "stylelint-config-standard",
    "ignoreFiles": [
        "**/*.css",
        "src/scss/vendors/**/*.scss",
        "templates/main/css/scss/libs/*.scss",
        "templates/main/lib/sabre/scss/*.scss",
    ],
    "rules": {
        # There must always be an empty line before at-rules.
        # ==============================================================
        "at-rule-empty-line-before": [ "always", {
            "except": [ "after-same-name", "first-nested" ],
            "ignore": [ "after-comment", "inside-block" ]
        }],


        # Specify lowercase or uppercase for at-rules names.
        # ==============================================================
        "at-rule-name-case": "lower",


        # Require a single space after at-rule names.
        # ==============================================================
        "at-rule-name-space-after": "always-single-line",


        # Disallow vendor prefixes for at-rules.
        # ==============================================================
        "at-rule-no-vendor-prefix": true,


        # There must never be a single space before the semicolons.
        # ==============================================================
        "at-rule-semicolon-space-before": "never",


        # There must always be a newline after the closing brace.
        # ==============================================================
        "block-closing-brace-newline-after": [ "always", {
            "ignoreAtRules": [ "if", "else" ]
        }],


        # There must always be a single space before the closing brace 
        # in single-line blocks.
        # ==============================================================
        "block-closing-brace-space-before": "always-single-line",


        # Disallow empty blocks.
        # ==============================================================
        "block-no-empty": true,


        # There must always be a single space after the opening brace 
        # in single-line blocks.
        # ==============================================================
        "block-opening-brace-space-after": "always-single-line",


        # There must always be a single space before the opening brace 
        # in single-line blocks.
        # ==============================================================
        "block-opening-brace-space-before": "always-single-line",


        # Disallow invalid hex colors.
        # ==============================================================
        "color-no-invalid-hex": true,


        # There must always be an empty line before comments.
        # ==============================================================
        "comment-empty-line-before": [ "always", {
            "ignore": [ "stylelint-commands", "after-comment" ]
        }],


        # Disallow empty comments.
        # ==============================================================
        "comment-no-empty": true,


        # There must never be whitespace after the bang (!). 
        # e.g. `a { color: pink !important; }`
        # ==============================================================
        "declaration-bang-space-after": "never",


        # There must always be a single space before the bang (!).
        # ==============================================================
        "declaration-bang-space-before": "always",


        # Disallow duplicate properties within declaration blocks.
        # This rule ignores variables ($sass, @less, --custom-property).
        # ==============================================================
        "declaration-block-no-duplicate-properties": true,


        # Disallow shorthand properties that override related longhand properties.
        # e.g. `a { padding-left: 10px; padding: 20px; }`
        # ==============================================================
        "declaration-block-no-shorthand-property-overrides": true,


        # There must always be a single space after the semicolon 
        # in single-line declaration blocks.
        # ==============================================================
        "declaration-block-semicolon-space-after": "always-single-line",


        # There must never be whitespace before the semicolons.
        # ==============================================================
        "declaration-block-semicolon-space-before": "never",


        # Limit the number of declarations within a single line.
        # ==============================================================
        "declaration-block-single-line-max-declarations": 1,


        # Limit the number of declarations within a single line.
        # ==============================================================
        "declaration-block-trailing-semicolon": "always",


        # There must always be a single space after the colon.
        # ==============================================================
        "declaration-colon-space-after": "always",


        # There must never be whitespace before the colon.
        # ==============================================================
        "declaration-colon-space-before": "never",


        # Disallow !important within declarations.
        # ==============================================================
        "declaration-no-important": true,


        # Disallow direction values in linear-gradient() calls that are not 
        # valid according to the standard syntax.
        # https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient#Syntax
        # ==============================================================
        "function-linear-gradient-no-nonstandard-direction": true,


        # Always indent at-rules, rules, comments, declarations, inside 
        # parentheses, and multi-line values by 2 spaces.
        # ==============================================================
        "indentation": 2,


        # Disallow !important within keyframe declarations.
        # ==============================================================
        "keyframe-declaration-no-important": true,


        # Limit the number of adjacent empty lines to three.
        # ==============================================================
        "max-empty-lines": [ 3, {
            "ignore": [ "comments" ]
        }],


        # Limit the allowed nesting depth.
        # a {
        #   & b {       // nesting depth 1
        #     & .foo {  // nesting depth 2 [max]
        #       ...
        #     }
        #   }
        # }
        # ==============================================================
        "max-nesting-depth": [ 2, { 
            "ignoreAtRules": [ "include", "media" ]
        }],


        # ==============================================================
        # MEDIA QUERIES/FEATURES
        # ==============================================================
        # There must always be a single space after the colon, and never before.
        # e.g: @media (max-width: 600px) { ... }
        # ==============================================================
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",


        # @media feature names must always be lowercase.
        # e.g: @media (min-width: 700px) and (orientation: landscape) { ... }
        # ==============================================================
        "media-feature-name-case": "lower",


        # Disallow unknown media feature names.
        # e.g: @media screen and (unknown: 10px) { ... }
        #                           ^not allowed
        # ==============================================================
        "media-feature-name-no-unknown": true,


        # There must never be whitespace on the inside the parentheses; however,
        # when combined with our colon-space rules above, @media queries should
        # be written as such: @media (max-width: 300px) { ... }
        # ==============================================================
        "media-feature-parentheses-space-inside": "never",


        # There must always be a single space before & after the range operator.
        # e.g: @media (width >= 600px) { ... }
        # ==============================================================
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",


        # There must always be a single space after, and never before,  
        # the commas of @media query lists.
        # e.g: @media screen and (color), projection and (color) { ... }
        # ==============================================================
        "media-query-list-comma-space-after": "always",
        "media-query-list-comma-space-before": "never",


        # Disallow end-of-line whitespace.
        # ==============================================================
        "no-eol-whitespace": [ true, {
            "ignore": [ "empty-lines" ]
        }],


        # Disallow duplicate selectors within a stylesheet.
        # ==============================================================
        "no-duplicate-selectors": true,


        # Disallow extra semicolons.
        # ==============================================================
        "no-extra-semicolons": true,


        # Disallow unknown animations; just make sure that your animation
        # names match up with your @keyframes names.
        # ==============================================================
        "no-unknown-animations": true,


        # There must never be a leading zero for fractional numbers less than 1.
        # e.g: a { transform: translate(2px, .4px); }
        # ==============================================================
        "number-leading-zero": "never",


        # Disallow trailing zeros in numbers; e.g: a { top: 1px } (not 1.0px)
        # ==============================================================
        "number-no-trailing-zeros": true,


        # Properties must always be written in lowercase.
        # ==============================================================
        "property-case": "lower",


        # Disallow unknown properties. This rule considers properties defined 
        # in the CSS Specifications & browser specific properties to be known.
        # https://github.com/betit/known-css-properties#source
        # This rule ignores variables ($sass, @less, --custom-property).
        # ==============================================================
        "property-no-unknown": true,


        # Disallow vendor prefixes for properties.
        # ==============================================================
        "property-no-vendor-prefix": true,












        # There must never be whitespace before the colon.
        # ==============================================================
        "rule-empty-line-before": [ "always", {
            "except": [ "first-nested" ],
            "ignore": [ "after-comment", "inside-block" ]
        }],


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-attribute-brackets-space-inside": "never",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-attribute-operator-space-after": "never",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-attribute-operator-space-before": "never",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-combinator-space-after": "always",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-combinator-space-before": "always",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-descendant-combinator-no-non-space": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-list-comma-space-after": "always-single-line",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-list-comma-space-before": "never-single-line",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-max-compound-selectors": 4,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-max-empty-lines": 1,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-max-id": 1,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-no-qualifying-type": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-no-vendor-prefix": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-pseudo-class-case": "lower",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-pseudo-class-no-unknown": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-pseudo-element-case": "lower",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-pseudo-element-no-unknown": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-type-case": "lower",


        # There must never be whitespace before the colon.
        # ==============================================================
        "selector-type-no-unknown": true,


        # There must never be whitespace before the colon.
        # ==============================================================
        "string-quotes": "single",


        # There must never be whitespace before the colon.
        # ==============================================================
        "unit-case": "lower",


        # There must never be whitespace before the colon.
        # ==============================================================
        "unit-no-unknown": [ true, { 
            "ignoreUnits": [ "fr" ] 
        }],


        # There must never be whitespace before the colon.
        # ==============================================================
        "value-no-vendor-prefix": true,
    }
}